<IfModule mod_rewrite.c>
  RewriteEngine On

  <IfModule mod_vhost_alias.c>
    RewriteBase /
  </IfModule>

  # For now 404 favicon until we have one
  RewriteRule ^favicon.ico - [L,R=404]

  RewriteCond %{HTTP:Authorization} ^(.+)$
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
